<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-grayDark" x-data="{ atTop: true }" x-on:scroll.window="atTop =( window.pageYOffset > 10) ? false : true ">
      <%= render partial: "shared/navbar" %>
    </div>
    <main class="min-h-fit h-fit flex-col items-center justify-center relative overflow-hidden">
      <%= yield %>
    </main>
  </body>
  <script src="//unpkg.com/alpinejs" defer></script>
</html>
